* {
  padding: 0;
  margin: 0;
  font-family: "Afacad", sans-serif;
  font-size: 20px;
}

html,
body {
  min-height: 100vh;
  height: auto;
  background-color: #e9ecef;
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.hyperlink {
  text-decoration: none;
  color: #868e96;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.hyperlink:hover {
  color: #5f3dc4;
}

.material-symbols-outlined {
  color: #5f3dc4;
}

.main-button {
  background-color: #9775fa;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.main-button:hover {
  background-color: #5f3dc4;
}

.main-button:disabled {
  cursor: not-allowed;
  background-color: #ced4da;
}

.main-button:active {
  background-color: #b197fc;
}

.row-with-gap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}

.cart-layout {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.side-cart_empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.cart-empty {
  color: #000000;
  font-size: 80px !important;
}

.product-card {
  box-sizing: border-box;
  background-color: #ffffff;
  max-width: 200px;
  min-width: 150px;
  height: 330px;
  box-shadow: 0px 1px 8px 0px #dee2e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
}

.product-image {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.product-image_container {
  display: flex;
  justify-content: center;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-weight: 600;
  height: 20px;
}

.product-price_per-unit {
  font-size: 15px;
  color: #868e96;
}

.product-card_button {
  height: 40px;
  width: 100%;
}

.product-name {
  font-size: 17px;
  height: 45px;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.discount {
  color: #ff0000;
}

.old-price {
  font-size: 15px;
  text-decoration: line-through;
}

.product-price_discount {
  height: 20px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.px50-bold {
  font-size: 50px;
  font-weight: 600;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #9775fa;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-container {
  width: 100%;
  background-color: #ffffff;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  transform: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-input {
  background-color: #f1f3f5;
  color: #000000;
  padding: 8px;
  padding-left: 22px;
  border: 1px solid;
  border-color: #adb5bd;
  border-radius: 8px;
}

.main-input:focus {
  background-color: #ffffff;
  outline: none;
}

.main-input:disabled {
  color: #868e96;
}

.input-text {
  margin-bottom: 10px;
}

.form-error {
  color: #ff0000;
}

/* .hidden {
  display: none;
} */

.white-text {
  color: white;
}

.main-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  transition: 0.3s;
  cursor: pointer;
}

.main-checkbox:hover {
  border: 1px solid #5f3dc4;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 19px;
  width: 19px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  transition: 0.3s;
}

input[type="checkbox"]::before {
  content: "";
  width: 15px;
  height: 15px;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(15% 43%, 44% 65%, 81% 9%, 100% 21%, 50% 100%, 0 63%);
  background-color: #5f3dc4;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  border: 1px solid #5f3dc4;
}

.hr_line {
  background-color: #dee2e6;
  border: none;
  height: 2px;
  margin: 10px;
}

.pointer-none {
  cursor: default;
}

.pointer-none:hover {
  color: #868e96;
}

.centred {
  width: 100%;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-success {
  background-color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 30px;
  padding: 20px;
}

.font-bigger {
  font-size: 1.5rem;
  font-weight: 800;
  color: #868e96;
}

.success-button {
  width: 400px;
  height: 40px;
}

.hyperlink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
